@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
@font-face {
  font-family: "Flat-UI-Icons-16";
  src: url("../fonts/Flat-UI-Icons-16.eot");
  src: url("../fonts/Flat-UI-Icons-16.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons-16.woff") format("woff"), url("../fonts/Flat-UI-Icons-16.ttf") format("truetype"), url("../fonts/Flat-UI-Icons-16.svg#Flat-UI-Icons-16") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face{
  font-family:'proxima nova bold';
  src:url('../fonts/proximanova-bold-webfont.eot');
  src:url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanova-bold-webfont.woff') format('woff'),url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight:400;
  font-style:normal
  }
@font-face{
  font-family:'proxima nova regular';
  src:url('../fonts/proximanova-regular-webfont.eot');
  src:url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanova-regular-webfont.woff') format('woff'),url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'proxima nova light';
  src:url('../fonts/proximanova-light-webfont.eot');
  src:url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanova-light-webfont.woff') format('woff'),url('../fonts/proximanova-light-webfont.ttf') format('truetype'),url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'neosans regular';
  src:url('../fonts/neosans-medium-webfont.eot');
  src:url('../fonts/neosans-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/neosans-medium-webfont.woff') format('woff'),url('../fonts/neosans-medium-webfont.ttf') format('truetype'),url('../fonts/neosans-medium-webfont.svg#neosansregular') format('svg');
  font-weight:400;
  font-style:normal
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "Flat-UI-Icons-16";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.fui-volume-16:before, .fui-video-16:before, .fui-time-16:before, .fui-settings-16:before, 
.fui-plus-16:before, .fui-new-16:before, .fui-menu-16:before, .fui-man-16:before, .fui-mail-16:before, 
.fui-lock-16:before, .fui-location-16:before, .fui-heart-16:before, .fui-eye-16:before, .fui-cross-16:before, 
.fui-cmd-16:before, .fui-checkround-16:before, .fui-checkmark-16:before, .fui-camera-16:before, 
.fui-calendar-16:before, .fui-bubble-16:before {
  font-family: "Flat-UI-Icons-16";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.fui-volume-16:before {
  content: "\e000"; }

.fui-video-16:before {
  content: "\e001"; }

.fui-time-16:before {
  content: "\e002"; }

.fui-settings-16:before {
  content: "\e003"; }

.fui-plus-16:before {
  content: "\e004"; }

.fui-new-16:before {
  content: "\e005"; }

.fui-menu-16:before {
  content: "\e006"; }

.fui-man-16:before {
  content: "\e007"; }

.fui-mail-16:before {
  content: "\e008"; }

.fui-lock-16:before {
  content: "\e009"; }

.fui-location-16:before {
  content: "\e00a"; }

.fui-heart-16:before {
  content: "\e00b"; }

.fui-eye-16:before {
  content: "\e00c"; }

.fui-cross-16:before {
  content: "\e00d"; }

.fui-cmd-16:before {
  content: "\e00e"; }

.fui-checkround-16:before {
  content: "\e00f"; }

.fui-checkmark-16:before {
  content: "\e010"; }

.fui-camera-16:before {
  content: "\e011"; }

.fui-calendar-16:before {
  content: "\e012"; }

.fui-bubble-16:before {
  content: "\e013"; }

@font-face {
  font-family: "Flat-UI-Icons-24";
  src: url("../fonts/Flat-UI-Icons-24.eot");
  src: url("../fonts/Flat-UI-Icons-24.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons-24.woff") format("woff"), url("../fonts/Flat-UI-Icons-24.ttf") format("truetype"), url("../fonts/Flat-UI-Icons-24.svg#Flat-UI-Icons-24") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "Flat-UI-Icons-24";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.fui-video-24:before, .fui-time-24:before, .fui-settings-24:before, .fui-plus-24:before, .fui-new-24:before, .fui-menu-24:before, .fui-man-24:before, .fui-mail-24:before, .fui-lock-24:before, .fui-location-24:before, .fui-heart-24:before, .fui-eye-24:before, .fui-cross-24:before, .fui-cmd-24:before, .fui-checkround-24:before, .fui-checkmark-24:before, .fui-calendar-24:before, .fui-bubble-24:before, .fui-volume-24:before, .fui-camera-24:before {
  font-family: "Flat-UI-Icons-24";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.fui-video-24:before {
  content: "\e000"; }

.fui-time-24:before {
  content: "\e001"; }

.fui-settings-24:before {
  content: "\e002"; }

.fui-plus-24:before {
  content: "\e003"; }

.fui-new-24:before {
  content: "\e005"; }

.fui-menu-24:before {
  content: "\e006"; }

.fui-man-24:before {
  content: "\e007"; }

.fui-mail-24:before {
  content: "\e008"; }

.fui-lock-24:before {
  content: "\e009"; }

.fui-location-24:before {
  content: "\e00a"; }

.fui-heart-24:before {
  content: "\e00b"; }

.fui-eye-24:before {
  content: "\e00c"; }

.fui-cross-24:before {
  content: "\e00d"; }

.fui-cmd-24:before {
  content: "\e00e"; }

.fui-checkround-24:before {
  content: "\e00f"; }

.fui-checkmark-24:before {
  content: "\e010"; }

.fui-calendar-24:before {
  content: "\e011"; }

.fui-bubble-24:before {
  content: "\e012"; }

.fui-volume-24:before {
  content: "\e013"; }

.fui-camera-24:before {
  content: "\e004"; }

body {
  font-family: "proxima nova light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 16px;
}
p,li {
  font-family: "proxima nova regular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5em;
}

a {
  font-family: "proxima nova light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(22, 145, 190);
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  a:hover {
    color: rgb(22, 107, 162);
    text-decoration: none; }

h1,h2,h3,h4,h5,h6 {
    font-family: "proxima nova light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 900; }

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; 
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.home .post-content {
  background: rgba(35,37,39,0.69);
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; 
  transition: all 0.3s ease-in;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  z-index: 999
}

.home .post-content h1 {
  margin: 0;
  font-size: 48px;
}

.home .post-content,
.home .post-content h1 a {
  color: white;
}

.home .post-content:hover {
  background: #232527;
}

#featured-wrap .feature-credit {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  color: #ccc;
  position: absolute;
  bottom: 20px;
  right: 15px;
  background: rgba(0,0,0,0.4);
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 10px;
  font-weight: normal;
  z-index: 9999;
}

#featured-wrap .feature-credit a {
  color: #fff;
  font-weight: bold;
  border: 0;
}

#featured-wrap .feature-credit a:hover {
  color: #2094ca;
}

.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }

.demo-headline {
  padding: 75px 0 55px;
  text-align: center; }


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #dce4ec;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 0 9px 10px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="datetime"]:-moz-placeholder,
  input[type="datetime-local"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="month"]:-moz-placeholder,
  input[type="time"]:-moz-placeholder,
  input[type="week"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="color"]:-moz-placeholder,
  .uneditable-input:-moz-placeholder {
    color: #acb6c0; }
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="month"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="week"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder,
  .uneditable-input::-webkit-input-placeholder {
    color: #acb6c0; }
  textarea.placeholder,
  input[type="text"].placeholder,
  input[type="password"].placeholder,
  input[type="datetime"].placeholder,
  input[type="datetime-local"].placeholder,
  input[type="date"].placeholder,
  input[type="month"].placeholder,
  input[type="time"].placeholder,
  input[type="week"].placeholder,
  input[type="number"].placeholder,
  input[type="email"].placeholder,
  input[type="url"].placeholder,
  input[type="search"].placeholder,
  input[type="tel"].placeholder,
  input[type="color"].placeholder,
  .uneditable-input.placeholder {
    color: #acb6c0; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .control-group.error textarea, .control-group.error
  input[type="text"], .control-group.error
  input[type="password"], .control-group.error
  input[type="datetime"], .control-group.error
  input[type="datetime-local"], .control-group.error
  input[type="date"], .control-group.error
  input[type="month"], .control-group.error
  input[type="time"], .control-group.error
  input[type="week"], .control-group.error
  input[type="number"], .control-group.error
  input[type="email"], .control-group.error
  input[type="url"], .control-group.error
  input[type="search"], .control-group.error
  input[type="tel"], .control-group.error
  input[type="color"], .control-group.error
  .uneditable-input {
    border-color: #e74c3c;
    color: #e74c3c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.error textarea:focus, .control-group.error
    input[type="text"]:focus, .control-group.error
    input[type="password"]:focus, .control-group.error
    input[type="datetime"]:focus, .control-group.error
    input[type="datetime-local"]:focus, .control-group.error
    input[type="date"]:focus, .control-group.error
    input[type="month"]:focus, .control-group.error
    input[type="time"]:focus, .control-group.error
    input[type="week"]:focus, .control-group.error
    input[type="number"]:focus, .control-group.error
    input[type="email"]:focus, .control-group.error
    input[type="url"]:focus, .control-group.error
    input[type="search"]:focus, .control-group.error
    input[type="tel"]:focus, .control-group.error
    input[type="color"]:focus, .control-group.error
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.success textarea, .control-group.success
  input[type="text"], .control-group.success
  input[type="password"], .control-group.success
  input[type="datetime"], .control-group.success
  input[type="datetime-local"], .control-group.success
  input[type="date"], .control-group.success
  input[type="month"], .control-group.success
  input[type="time"], .control-group.success
  input[type="week"], .control-group.success
  input[type="number"], .control-group.success
  input[type="email"], .control-group.success
  input[type="url"], .control-group.success
  input[type="search"], .control-group.success
  input[type="tel"], .control-group.success
  input[type="color"], .control-group.success
  .uneditable-input {
    border-color: #2ecc71;
    color: #2ecc71;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.success textarea:focus, .control-group.success
    input[type="text"]:focus, .control-group.success
    input[type="password"]:focus, .control-group.success
    input[type="datetime"]:focus, .control-group.success
    input[type="datetime-local"]:focus, .control-group.success
    input[type="date"]:focus, .control-group.success
    input[type="month"]:focus, .control-group.success
    input[type="time"]:focus, .control-group.success
    input[type="week"]:focus, .control-group.success
    input[type="number"]:focus, .control-group.success
    input[type="email"]:focus, .control-group.success
    input[type="url"]:focus, .control-group.success
    input[type="search"]:focus, .control-group.success
    input[type="tel"]:focus, .control-group.success
    input[type="color"]:focus, .control-group.success
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.warning textarea, .control-group.warning
  input[type="text"], .control-group.warning
  input[type="password"], .control-group.warning
  input[type="datetime"], .control-group.warning
  input[type="datetime-local"], .control-group.warning
  input[type="date"], .control-group.warning
  input[type="month"], .control-group.warning
  input[type="time"], .control-group.warning
  input[type="week"], .control-group.warning
  input[type="number"], .control-group.warning
  input[type="email"], .control-group.warning
  input[type="url"], .control-group.warning
  input[type="search"], .control-group.warning
  input[type="tel"], .control-group.warning
  input[type="color"], .control-group.warning
  .uneditable-input {
    border-color: #f1c40f;
    color: #f1c40f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.warning textarea:focus, .control-group.warning
    input[type="text"]:focus, .control-group.warning
    input[type="password"]:focus, .control-group.warning
    input[type="datetime"]:focus, .control-group.warning
    input[type="datetime-local"]:focus, .control-group.warning
    input[type="date"]:focus, .control-group.warning
    input[type="month"]:focus, .control-group.warning
    input[type="time"]:focus, .control-group.warning
    input[type="week"]:focus, .control-group.warning
    input[type="number"]:focus, .control-group.warning
    input[type="email"]:focus, .control-group.warning
    input[type="url"]:focus, .control-group.warning
    input[type="search"]:focus, .control-group.warning
    input[type="tel"]:focus, .control-group.warning
    input[type="color"]:focus, .control-group.warning
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.info textarea, .control-group.info
  input[type="text"], .control-group.info
  input[type="password"], .control-group.info
  input[type="datetime"], .control-group.info
  input[type="datetime-local"], .control-group.info
  input[type="date"], .control-group.info
  input[type="month"], .control-group.info
  input[type="time"], .control-group.info
  input[type="week"], .control-group.info
  input[type="number"], .control-group.info
  input[type="email"], .control-group.info
  input[type="url"], .control-group.info
  input[type="search"], .control-group.info
  input[type="tel"], .control-group.info
  input[type="color"], .control-group.info
  .uneditable-input {
    border-color: #3498db;
    color: #3498db;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.info textarea:focus, .control-group.info
    input[type="text"]:focus, .control-group.info
    input[type="password"]:focus, .control-group.info
    input[type="datetime"]:focus, .control-group.info
    input[type="datetime-local"]:focus, .control-group.info
    input[type="date"]:focus, .control-group.info
    input[type="month"]:focus, .control-group.info
    input[type="time"]:focus, .control-group.info
    input[type="week"]:focus, .control-group.info
    input[type="number"]:focus, .control-group.info
    input[type="email"]:focus, .control-group.info
    input[type="url"]:focus, .control-group.info
    input[type="search"]:focus, .control-group.info
    input[type="tel"]:focus, .control-group.info
    input[type="color"]:focus, .control-group.info
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #eaeded;
  border-color: transparent;
  color: #cad2d3;
  cursor: default; }

input,
textarea,
.uneditable-input {
  width: 192px; }

.not_valid {
  background: #fbd8db !important;
  color: #90111a !important; }



.strip{background:url("../images/strip.jpg") repeat-x scroll 0 0 transparent;height:4px;position:absolute;top:-1px;width:100%;}

.right{float:right;overflow-x:hidden}
.tagit{margin:0;padding:0;display:inline-block;list-style-type:none}
.tagit li{display:inline}
.tagit li:not(:last-child):after{content:", "}
.row {}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 1000px) {
/* Styles */

body {
  font-size: 0.87em;
}


}


