/*----------------------------------------------------------------------
 
	Content: Mobile Theme CSS 
	Author:  ThemeBeans of http://www.themebeans.com
	
 	TABLE OF CONTENTS:
 
 	01. MOBILE GRID SYSTEM
 	02. GENERAL RESPONSIVE (SMALL SCREENS & TABLET MOBILE)
 	03. iPAD/TABLET DEVICES GENERAL
 	04. iPAD/TABLET DEVICES (LANDSCAPE)
 	05. iPAD/TABLET DEVICES (PORTRAIT)
 	06. iPHONE/SMARTPHONE (GENERAL)
 	06. iPHONE/SMARTPHONE (PORTRAIT)
 	07. RESPONSIVE NAVIGATION
 	08. RETINA CSS
 
 ----------------------------------------------------------------------*/
	
/*--------------------------------------------------------------------*/
/*	GENERAL RESPONSIVE (SMALL SCREENS & TABLET MOBILE)
/*--------------------------------------------------------------------*/

@media only screen 
and (max-width: 767px) {

/*  BODY */
#main-container {
	padding: 0px 30px;
	background-image: none; 
	width: 100% ;
	overflow: hidden;
	}
	
#main { 
	margin: 0 0; 
	padding-top: 0;
	max-width: 100%;
	}

.archive #main-container,
.search #main-container,  
.blog #main-container {
	padding: 0px 0px;
	}

.search section.type-post,	 
.blog section.type-post {
	padding-left: 30px;
	padding-right: 30px;
	}	 

.page-template-page-sidebar-right-php .page-box {
	padding-right: 0px;
	}
	
	
/*  HEADER / HERO STYLES */
#logo {
	float: none;
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	}

#logo_text {
	font-size: 40px;
	}

#logo img {
	float: none;
	}
		
#header-title h1 {
	text-align: center;
	width: 100%;
	}	

#header {
	padding: 80px 30px 20px;
	}

#header div.six.columns.right {
	float: none;
	}
	
#page-header {
	height: auto;
	}
	
#header .widget_search input[type="text"] {
	background-position-x:102%;
	width: 100%;
	}

		
/*  BLOG STYLES */
.entry-meta,
h2.entry-title,
.blog .entry-content p,
.search	.entry-content p, 
.author	.entry-content p {
	text-align: center;
	}

.entry-meta {
	margin-top: 28px;
	}

.entry-header .entry-title {
	font-size: 32px;
	line-height: 38px;	
	}

blockquote p {
	line-height: 32px!important;
	}
	
blockquote {
 	margin: 45px 0; 
 	text-align: center;
 	padding: 0 30px;
	}

pre {
	margin: 45px 0px;
	}
	
a.more-link, 
.entry-content a.more-link {
	width: 100%;
	background-image: none!important;
	}


/*  SINGLE POSTS */	
section.type-post {
	max-width: 100%;
	}

.single-post .entry-meta,
.single-post .entry-header .entry-title {
	text-align: left;
	}

.comment-count,
span.edit-link {
	display: none;
	}
	
 	
/*  POST FORMATS */
.flex-control-nav { 
	float: none;
	}
	
.flex-control-nav li {
	margin-top: 10px;
	margin-bottom: 0px;
	}

.flex-control-paging li a { 
	width: 8px; 
	height: 8px; 
	}	
		
div.jp-current-time,
div.jp-time-sep,
div.jp-duration,
.jp-time-frame { 
	display: none; 
	}	

.format-link p,
.format-aside article.entry-content p { text-align: center; }

.post-slider .flex-direction-nav .prev ,
.post-slider .flex-direction-nav .next {
	top: 44%; 
	}


/*  COMMENTS */	
#respond .six {
	width: 100%;
	}

#comments {
	margin-top: 30px;
	}
	
#reply-title, 
#comments .leave-reply-title h5, 
#comments .comments-title h5 {
	font-size: 34px;
	}	
	
.comment-content p {
	font-size: 17px;
	line-height: 30px;
	}
	
.children {
	list-style-type: none;
	margin: 65px 0 0 0px;
	}	

.children .depth-3,	
.children .depth-4 {
	margin-left: 0px;
	width: 100%;
	}	

#commentform #submit,	
#commentform input[type="text"], 
#commentform input[type="password"], 
#commentform input[type="date"], 
#commentform input[type="datetime"], 
#commentform input[type="email"], 
#commentform input[type="number"], 
#commentform input[type="search"], 
#commentform input[type="tel"], 
#commentform input[type="time"], 
#commentform input[type="url"]  {
	width: 100%;
	}	


/*  FOOTER STYLES */
#footer {
	padding: 30px 20px 25px 20px;
	}

.footer-extra {
	text-align: center;
	padding: 0 30px 35px;
	}

.footer-extra div.four.columns {
	margin-top: 70px;
	}	

#footer .bean-social-counter, 
#footer .bean-social-counter ul,
#footer .social-links li {
	float: none;
	text-align: center;
	}
	
#footer .bean-social-counter {
	margin-top: 20px;
	}	 
	
#footer a.counter-icon {
	float: none;
	margin-bottom: -7px;
	}

#footer .social-links li {
	margin: 0px;
	}
	
.social-foot {
	float: none;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #242427;
	}
	
.social-foot li {
	float: none;
	}	
	
a.social-icon:hover {
	margin-top: 0px;
	}	
		
.colophon {
	text-align: center;
	}
 
#toTop { 
	display: none!important; 
	}

#sidebar { display: none; }	 
		
.tag-index {
	width: 105.5%%;
	margin-top: 20px;
	}
	

/* INPUT & SUBMIT BUTTONS */
.contact-submit .button[type="submit"] {
 	width: 100%;
 	}	  	 
	
	
/* SHORTCODE STYLES */	
.modal { 
	position: fixed; 
	top: 25% !important; 
	right: 5%; 
	left: 5%; 
	bottom: 5%; 
	width: auto; 
	height: auto;
	margin: 0; 
	}
	
.modal-body { height: 60%; }

.modal-body { 
	max-height: 500px; 
	overflow-y: auto; 
	-webkit-overflow-scrolling: touch; 
	}	
} 


/*--------------------------------------------------------------------*/
/*	SMALLER SCREENS
/*--------------------------------------------------------------------*/
@media only screen 
and (max-width: 460px) {
	a.author-social-icon.dribbble,
	a.author-social-icon.facebook,
	a.author-social-icon.instagram,
	a.author-social-icon.google_plus,
	a.author-social-icon.email {
		display: none;
		}

	.format-quote p,
	.entry-meta {
		font-size: 14px;
		}

	.post-slider .flex-direction-nav .prev,
	.post-slider .flex-direction-nav .next {
		top: 40%; 
		}

	.post-slider .flex-direction-nav .prev {
		left: 10px;
		}
		
	.post-slider .flex-direction-nav .next {
		right: 10px;
		}	
	
	a.jp-mute span,
	div.jp-volume-bar,
	.jp-time-frame { 
		display: none!important; 
		}
	
	.meta-label,
	span.meta-category, 
	.about-author .avatar,
	span.meta-author {
		display: none;
	}	
	
	.author-right {
		margin: 0px;
	}


}



/*--------------------------------------------------------------------*/
/*	iPAD/TABLET DEVICES GENERAL 
/*--------------------------------------------------------------------*/	
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	body { -webkit-text-size-adjust: none; }
	
	/*Header*/
	#toTop { display: none!important; }
	
	/*Navigation*/
	#navigation > .row > .twelve { padding: 0 10px; }
		
	.main_menu ul li strong { font-size: 11px; }
	.main_menu .submenu-indicator { right: 2px; }	
	
	/*Content*/	
	.image-frame img, 
	.attachment .post-box img, 
	.entry-content-media img, 
	.post-thumb img { width: 100%; }

								
}
 	



		
/*--------------------------------------------------------------------*/
/*	iPAD/TABLET DEVICES (PORTRAIT)
/*--------------------------------------------------------------------*/		
@media only screen 
and (min-device-width : 768px) 
and (orientation : portrait){
	
	#top > .row {
		max-width: 100%;
		overflow: hidden;
		}	
}
    
    
    
/*--------------------------------------------------------------------*/
/*	iPHONE/SMARTPHONE GENERAL
/*--------------------------------------------------------------------*/
@media only screen 
and (max-device-width: 320px)
and (max-device-width : 480px) {
}



/*--------------------------------------------------------------------*/
/*	iPHONE/SMARTPHONE PORTRAIT
/*--------------------------------------------------------------------*/
@media only screen 
and (max-width : 320px)
and (orientation : portrait) {
	
	#main-container {
		padding-left: 15px;
		padding-right: 15px;
		}
	
	#logo_text {
		font-weight: bold;
		font-size: 70px;
		}
	
	.format-link span.link-icon	 { 
		display: block; 
		margin: 0 auto; 
		margin-top: 10px;
		}
}


/*--------------------------------------------------------------------*/
/*	RESPONSIVE NAVIGATION
/*--------------------------------------------------------------------*/
#responsive-nav select {
	height: 40px;
	width: 100%;
	position: relative;
	display: block;
	margin-bottom: 0;
	}	

#responsive-nav { 
	padding:0px; 
	z-index: 99999; 
	position: fixed; 
	width: 100%; 
	}

#responsive-nav form.custom div.custom.dropdown {
	height: 30px;
 	width: 100% !important;
 	margin-bottom: 40px;
 	}

#responsive-nav form.custom div.custom.dropdown a.current {
	line-height: 45px;
	min-height: 45px;
	padding: 0 38px 0 25px;
	border-left: none;
	border-right: none;
	color: #1d2023;
	font-weight: bold;
	font-size: 15px;
	background-color: #1A1A1D;
	}

#responsive-nav form.custom div.custom.dropdown a.selector {
 	width: 100%;
	height: 45px;
 	background: url(../images/mobile-nav-drop.png) no-repeat;
 	background-position-y: 50%;
 	background-position-x: 89%;
 	right: 0px;
 	border: none;
 	}

#responsive-nav form.custom div.custom.dropdown a.selector:after { 
	content: ""; 
	border: solid 5px; 
	border-color: transparent; 
	left: 50%; 
	top: 50%; 
	margin-top: -2px; 
	margin-left: -5px; 
	}
	
#responsive-nav form.custom div.custom.dropdown:hover a.selector:after, 	
#responsive-nav form.custom div.custom.dropdown ul li.selected:after { content: ""; }

form.custom div.custom.dropdown { margin-top: 0px; }

#responsive-nav form.custom div.custom.dropdown ul {
 	width: 100% !important;
 	margin: 0;
 	top: 45px;
 	background-color: #1A1A1D;
 	border: none;
 	z-index: 99999;
 	padding-bottom: 4px;
 	border-bottom: 1px solid #000;
 	padding-top: 15px;
 	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 		    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
	
#responsive-nav  form.custom div.custom.dropdown ul li {
	background-color: #0F0F11;
	cursor: pointer;
	margin: 6px 33px;	
	padding: 9px 10px;
	color: #A7AAB1;
	text-align: left;
	font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
		}
		
#responsive-nav form.custom div.custom.dropdown ul li:hover { 
	color: #FFF; 
	background-color: #111; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li:hover:after { 
	content: ""; 
	color: #8ed3e7; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li.selected:hover { 
	background: #1a1b1f; 
	color: #fff; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li.selected:hover:after { 
	color: #000; 
	background: #161616; 
	}

#responsive-nav  form.custom div.custom.dropdown ul li:first-child { display: none;}	

#responsive-nav  form.custom div.custom.dropdown ul li:last-child { 
	border-bottom: none;
	margin-bottom: 18px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
	}	



/*--------------------------------------------------------------------*/
/*	RETINA CSS
/*--------------------------------------------------------------------*/
@media all and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {	
	
	#toTop,
	.post-icon,
	a.more-link,
	.entry-content a.more-link,
	.format-link span.link-icon,
	.post-slider .flex-direction-nav .prev,
	.post-slider .flex-direction-nav .next,
	.pagination-arrows span.page-previous, 
	.pagination-arrows span.page-next,
	.index-pager span.page-previous, 
	.index-pager span.page-next,
	#bean_announcement .close-btn,
	.widget_search input[type="text"] {
		background-image: url(../images/retina/sprite@2x.png);
		background-size: 41px 400px;
		}
	
	.author-url,
	#comments input#url,
	#comments input#email,
	#comments input#author,
	input.email-newsletter,
	#panel .widget_search input[type="text"] {
		background-image: url(../images/retina/form-sprite@2x.png);
		background-size: 17px 496px;
		}

	a.jp-play span,
	a.jp-pause span,
	a.jp-stop span,
	a.jp-mute span,
	a.jp-unmute span,
	a.jp-full-screen span,
	a.jp-restore-screen span { 
		background-image:url(../images/retina/jp_sprite@2x.png);
		background-size: 32px 259px; 
		}
	
	a.social-icon,
	a.counter-icon { 
		background-image: url(../images/retina/social@2x.png);
		background-size: 250px 64px;
		}

	.author-social-icon {
		background-image: url(../images/retina/author-sprite@2x.png);
		background-size: 192px 64px;
		}
	
	#twitter_div li {
		background-image: url(../images/retina/twitter-li@2x.png) ;
		background-size: 16px 16px;
		}	

	.bean-social-profiles ul li a {
		background-image:url(../images/retina/social-bar@2x.png);
		background-size: 805px 70px;
		background-repeat: no-repeat;
		}
		
	#responsive-nav form.custom div.custom.dropdown a.selector {
		background-image: url(../images/retina/mobile-nav-drop@2x.png);
		background-size: 24px 16px;
		}
	
	#panel #twitter_div li,
	#footer #twitter_div li {
		background-image: url(../images/retina/panel-twitter-li@2x.png) ;
		background-size: 16px 16px;
		}	

	#panel .dribbble-overlay {
		background-image: url(../images/retina/dribbble-overlay@2x.png);
		background-size: 115px 86px;
		}
	
	#panel .flickr-overlay {
		background-image: url(../images/retina/flickr-overlay@2x.png);
		background-size: 56px 56px;
		}
		
	#panel .toggle-icon {
		background-image: url(../images/retina/toggle@2x.png);
		background-size: 16px 16px;	
		}
}