h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #63b8e9; color: #fff; text-shadow: none; }
::selection { background: #63b8e9; color: #fff; text-shadow: none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input:focus { outline: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/*-----------------------------------------------------------------------------------*/
/*	Non-semanantic helper classes
/*-----------------------------------------------------------------------------------*/
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*-----------------------------------------------------------------------------------*/
/*	Theme Styles
/*-----------------------------------------------------------------------------------*/
body {
	background: #f0f6fa;
	border-top: solid 6px #63b8e9;
	font-size: 12px;
	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	
}
ul, ol {list-style: none;margin: 0;padding: 0;}
a {
	text-decoration: none;
	color: #2094ca;
	-o-transition:color .2s ease-out, background 1s ease-in;
  	-ms-transition:color .2s ease-out, background 1s ease-in;
  	-moz-transition:color .2s ease-out, background 1s ease-in;
  	-webkit-transition:color .2s ease-out, background 1s ease-in;
  	transition:color .2s ease-out, background 1s ease-in;
}
a:hover { text-decoration: underline;color: #2094ca;}

h1 {font-family: 'Capriola', sans-serif;}
h2,h2 a {font-size: 12px; color: #292a2b !important; font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;}
span.category {font-size: 10px;color: #a8afb2;}
.header { margin: 40px 0; }

#about-me {
	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	line-height: 20px;
	width: 70%;
	margin: 20px auto 0;
	color: grey;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}

.rounded,
.rounded img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	borde-radius: 2px;
	display: inline-block;
}
.alignleft {float: left;}
.alignright { float: right; overflow: hidden;}
.aligncenter { margin: 0 auto; display: block; clear: both;}
.body-width { width: 960px;}

.primary-nav ul {list-style: none;}
.primary-nav li {float: left;margin-left: 35px;}
.primary-nav li:first-of-type {margin-left: 0 !important;}
.primary-nav a {
	color: #a8afb2;
	text-transform: uppercase;
	-o-transition:color .2s ease-out, background 1s ease-in;
  	-ms-transition:color .2s ease-out, background 1s ease-in;
 	-moz-transition:color .2s ease-out, background 1s ease-in;
 	-webkit-transition:color .2s ease-out, background 1s ease-in;
 	transition:color .2s ease-out, background 1s ease-in;
}
.primary-nav a:hover,
.primary-nav .active a {
	color: #292a2b;
	text-decoration:none;
}

.post-grid {margin-left: -20px;width: 1000px;}
.grid-item {margin: 0 20px 40px 20px;
	width: 210px;
	text-align: center;
	float: left;}
.grid-item h2 {margin: 20px 0 5px;
	padding: 0;}
.popup-enabler {position: relative;
	display: block;}
.overlay {position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #292a2b url(/assets/sprites.png) no-repeat 12px -38px;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;}
.popup-enabler:hover .overlay {opacity: 1;}

#contact {
	background: #292a2b;
	color: #5a5c5e;
	text-align: center;
	padding: 40px 0;
	font-size: 12px;
	font-weight: bold;
}
.social {margin-bottom: 25px;}
.social li {display: inline-block;height: 27px;width: 27px;margin: 0 3px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;transition: all .2s ease-in-out; }
.social li a {display: block;overflow: hidden;height: 27px;width: 27px;text-indent: -500%; }
.social li:hover {opacity: 0.5; }

.small-face{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.small-face a:hover{text-decoration:none;}

#social {margin:auto;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		list-style: none;
		background: rgba(0, 0, 0, .8);
		text-shadow: rgba(0, 0, 0, 1.0) 0 0 2px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		padding: 15px 0 15px;
		text-align: center;
		width: 70%;
		overflow: hidden;}
		#social li {display: inline;padding: 0 20px;}
		.twitter { color: #6cd2fc; }.facebook { color: #3b5998; }.dribbble { color: #ea4c88; }.linkedin { color: #4ca4c7; }.hackernews { color: #ff6600; }

#blog-ribbon {
		position: absolute;
		width: 10%;
		text-align: center;
		left: 45%; right: 45%;
		height: 106px;
		top: 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;}
#blog-ribbon:hover {
			-khtml-opacity:.60; 
 			-moz-opacity:.60; 
 			-ms-filter:"alpha(opacity=60)";
  			filter:alpha(opacity=60);
  			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  			opacity:.60; }

#email {	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 23px 50px 10px 0;
  			margin-right: 50px;
			font-weight: normal;
			float: right;}	
div#email {	
			background: url(pre_mail.png) no-repeat 100% 69%;
			background-size: 35px 35px;
			}				
			
#header a {font-weight: bold;color: #fff;}


		
		#contact-section ul {
			margin-top:15px;
			text-align:center;}
		#contact-section li{
			padding-left: 40px;
			padding-bottom:18px;
			padding-top:8px;
			text-transform: none;
			font-size:16px;
			background-repeat: no-repeat;
			background-position: 360 0px;}
		#contact-section li#location-list{
			background-image: url('http://getmixer.com/assets/icon_pin.png');}
		#contact-section li#phone-list{
			background-image: url('http://getmixer.com/assets/icon_phone.png');}
		#contact-section li#email-list{
			background-image: url('http://getmixer.com/assets/icon_email.png');}

/* GitHub Fork Label */
/* 
#github {
  position: absolute;
  top: 50px;
  left: -75px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #00CCFF;
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 80px;
  text-align: center;
  text-decoration: none;
  text-shadow: 10px, 10px, 10px, #222222;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
 */
/* GitHub Fork Label : Hover */
/* 
#github:hover, #github:focus, #github:active {
  background: #2094ca;
  color: #fff;
}
 */
 
 
a.no {font-size:19px;color:#fff;}
a.no:hover {text-decoration:none;}  
#button{
		position: absolute;
		text-align: center;
		background: url('buttons.png') no-repeat -8px -102px;
		width: 96px;
		height: 30px;
		font-size:19px;
		float:right;
		color:#fff;
		}		
#button:hover {
  		background: url('buttons.png') no-repeat -142px -102px;
		width: 96px;
		height: 30px;
  		}
#button:active {
  		text-decoration:none;
  		background: url('buttons.png') no-repeat -275px -102px;
		width: 96px;
		height: 29px;
  		}
.active {
		text-align: center;
		font-size:19px;
  		text-decoration:none;
  		background: url('buttons.png') no-repeat -275px -102px;
		width: 96px;
		height: 29px;
		float:right;
  		}  		  		
.active:hover {
		-khtml-opacity:.96; 
 		-moz-opacity:.96; 
 		-ms-filter:"alpha(opacity=96)";
 		filter:alpha(opacity=96);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.96);
 		opacity:.96; 
  		}  		  		 		
 
 
 
 
 
 