h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
/*-----------------------------------------------------------------------------------*/
/*	Theme Styles
/*-----------------------------------------------------------------------------------*/
body {
	background: #fff;
	border-top: solid 6px #63b8e9;
	font-size: 12px;
	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0.5px;	
}
a {
	text-decoration: none;
	color: #2094ca;
	
}
a:hover { text-decoration: underline;color: #2094ca;}

h1 {font-family: sans-serif; color:#00CCFF;}
h1 span{color:#555;}
h2,h2 a {font-size: 12px; color: #292a2b !important; font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;}
span.category {font-size: 10px;color: #a8afb2;}
.header { margin: 40px 0; }

.timeline-header {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 30px;
}
.alignleft {float: left;}
.alignright { float: right; overflow: hidden;}
.aligncenter { margin: 0 auto; display: block; clear: both;}
.body-width { width: 960px;}


#blog-ribbon {
		position: absolute;
		width: 10%;
		text-align: center;
		left: 45%; right: 45%;
		height: 106px;
		top: 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;}
#blog-ribbon:hover {
			-khtml-opacity:.60; 
 			-moz-opacity:.60; 
 			-ms-filter:"alpha(opacity=60)";
  			filter:alpha(opacity=60);
  			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  			opacity:.60; }
			
#header a {font-weight: bold;color: #fff;}

#sidebar{
	display: block;
	width: 373px;
	height:417px;
	margin-left: 51px;
	float: left;
	margin-top: 0px;
	z-index:9999997;
}

#social{
	
	display:block;
	padding-top: 0px;
}

#social.normal{
	
	display:block;
	padding-top: 0px;
	margin-top: 15px;
}

#social.home_social{
	
	display:block;
	border-top: 1.5px dashed #D5D8DD;
	padding-top: 8px;
}

#social ul.gallery{
	width: 385px;
	margin-left: -41px;
}

#social ul.gallery li{
	
	float: left;
	padding-right: 13px;
	display: inline;
}

#social ul.gallery li a.thumb{
	
	display:block;
	background-position: -34px 0;
	-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
}
#social ul.gallery li a.thumb:hover{
	
	-khtml-opacity:.60; 
 			-moz-opacity:.60; 
 			-ms-filter:"alpha(opacity=60)";
  			filter:alpha(opacity=60);
  			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  			opacity:.60;
}

ul.gallery li span { /*--Used to crop image--*/
	
	overflow: hidden;
	display: block;
}

#about{
	width:518px;
	height:317px;
	float:left;
	margin-top: 42px;
	margin-left:170px;
	color:#666;
	font-size: 20px;
	padding-top:25px;
}

#branding .stripes {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #FA9300;

  @media only screen and (max-width: 850px;) {
    display: none;
  }
}
.stripe {
  width: 30px;
  height: 5px;
  float: left;
}
.item1 {background: #fa9300;}
.item2 {background: #66c9ee; width: 18px;}
.item3 {background: #c9c9c9;}
.item4 {background: #82b964; width: 24px;}
.item5 {background: #d24d33;}
.item6 {background: #fffbdb; width: 28px;}
.item7 {background: #2e77bb;}
.item8 {background: #6bd5b1; width: 14px;}
.item9 {background: #f87aa0; width: 18px;}
.item10 {background: #c9c9c9; width: 28px;}
.item11 {background: #72664e;}
.item12 {background: #ccd600; width: 24px;}
.item13 {background: #fffbdb;}
.item14 {background: #df620e;}
.item15 {background: #993838; width: 18px;}
.item16 {background: #ff9600; width: 18px;}
.item17 {background: #d24d33;}
.item18 {background: #8960a7;}
.item19 {background: #82b964;}
.item20 {background: #f87aa0; width: 14px;}
.item21 {background: #d43f3f; width: 28px;}
.item22 {background: #668000; width: 24px;}
.item23 {background: #ff9600;}
.item24 {background: #8960a7; width: 18px;}
.item25 {background: #c9c9c9; width: 28px;}
.item26 {background: #993838; width: 18px;}
.item27 {background: #CCD600;}
.item28 {background: #668000; width: 18px;}
.item29 {background: #f4cc13; width: 14px;}
.item30 {background: #72664e;}
.item31 {background: #fa9300;}
.item32 {background: #66c9ee; width: 18px;}
.item33 {background: #c9c9c9; width: 28px;}
.item34 {background: #82b964; width: 24px;}
.item35 {background: #CCD600;}
.item36 {background: #fffbdb;}
.item37 {background: #2e77bb;}
.item38 {background: #6bd5b1; width: 14px;}
.item39 {background: #f87aa0; width: 18px;}
.item40 {background: #c9c9c9; width: 28px;}
.item41 {background: #fa9300;}
.item42 {background: #66c9ee; width: 18px;}
.item43 {background: #c9c9c9;}
.item44 {background: #82b964; width: 24px;}
.item45 {background: #CCD600;}
.item46 {background: #fffbdb; width: 28px;}
.item47 {background: #2e77bb;}
.item48 {background: #6bd5b1; width: 14px;}
.item49 {background: #f87aa0; width: 18px;}
.item50 {background: #c9c9c9; width: 28px;}

