h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
/*-----------------------------------------------------------------------------------*/
/*	Theme Styles
/*-----------------------------------------------------------------------------------*/
body {
	background: #666 url(background.png);
	border-top: solid 6px #63b8e9;
	font-size: 12px;
	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;	
}
a {
	text-decoration: none;
	color: #2094ca;
	
}
a:hover { text-decoration: underline;color: #2094ca;}

h1 {font-family: 'Capriola', sans-serif;}
h2,h2 a {font-size: 12px; color: #292a2b !important; font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;}
span.category {font-size: 10px;color: #a8afb2;}
.header { margin: 40px 0; }

#about-me {
	font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	line-height: 20px;
	width: 70%;
	margin: 20px auto 0;
	color: grey;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}



.timeline-header {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 30px;
}
.alignleft {float: left;}
.alignright { float: right; overflow: hidden;}
.aligncenter { margin: 0 auto; display: block; clear: both;}
.body-width { width: 960px;}


.social {margin-bottom: 25px;}
.social li {display: inline-block;height: 27px;width: 27px;margin: 0 3px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;transition: all .2s ease-in-out; }
.social li a {display: block;overflow: hidden;height: 27px;width: 27px;text-indent: -500%; }
.social li:hover {opacity: 0.5; }

#social {margin:auto;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		list-style: none;
		background: rgba(0, 0, 0, .8);
		text-shadow: rgba(0, 0, 0, 1.0) 0 0 2px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		padding: 15px 0 15px;
		text-align: center;
		width: 70%;
		overflow: hidden;}
		#social li {display: inline;padding: 0 20px;}
		.twitter { color: #6cd2fc; }
		.facebook { color: #3b5998; }
		.dribbble { color: #ea4c88; }
		.linkedin { color: #4ca4c7; }
		.hackernews { color: #ff6600; }

#blog-ribbon {
		position: absolute;
		width: 10%;
		text-align: center;
		left: 45%; right: 45%;
		height: 106px;
		top: 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;}
#blog-ribbon:hover {
			-khtml-opacity:.60; 
 			-moz-opacity:.60; 
 			-ms-filter:"alpha(opacity=60)";
  			filter:alpha(opacity=60);
  			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  			opacity:.60; }
			
#header a {font-weight: bold;color: #fff;}
nav {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 2px 2px 3px #000;
	font-size: 15px;
}
li#nav{

	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}
li#nav a{
	-o-transition:color .2s ease-out, background 1s ease-in;
  	-ms-transition:color .2s ease-out, background 1s ease-in;
  	-moz-transition:color .2s ease-out, background 1s ease-in;
  	-webkit-transition:color .2s ease-out, background 1s ease-in;
  	transition:color .2s ease-out, background 1s ease-in;
		color: #fff;
}