---
layout: layout
title: "Shalin Shah's Blog"
class: home
---  
<div class="left">
  <h2>My Blog Posts
    <a class="rss" href="http://feeds.feedburner.com/shalin/shah" title="My Feed!">
      <img src="/images/rss.png" alt="RSS Feed Icon" />
    </a>
  </h2>
  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}/">{{ post.title }}</a>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}">
        {{ post.date | date: "%B %e, %Y" }}{% if post.github %}.
        Code on <a href="{{ post.github }}">GitHub</a>.
        {% endif %}
      </time>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="right">
  <h2>Hello!</h2>
  <div class="bio">
    <p>
      Hey, I'm <strong>Shalin Shah</strong> and welcome to my blog.
    </p>
    <p>
      Get to <a href="/about/" class="strong">know me</a>!
      <br>Follow me on <a href="https://twitter.com/shlns">Twitter</a>.
      <br>Or, just shoot me email at <a href="mailto:shalinvs@gmail.com">shalinvs@gmail.com</a>.
    </p>

    <!-- <a class="avatar" href="/about/" title="Shalin Shah">
      <img src="/images/shalin.jpg" alt="Me"/>
    </a> -->
    {% include ad.html %}
  </div>
  <h2>Projects</h2>
  <ul class="listing">
    <li>
      <a href="http://middleschoolnotes.org">Middle School Notes</a>
      <span>Best way to study for notes and get your grades up!</span>
    </li>
    <li>
      <a href="http://www.ideyaapp.tk">Ideya</a>
      <span>With this simple yet useful tool, never forget your brilliant ideas again!</span>
    </li>
  </ul>
  <h2>Subscribe</h2>
  <ul class="listing">
    <li>
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=shalin/shah', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        If you like my posts, you should sign up to get an email whenever I write something new:
        <input style="width:177px" type="email" name="email" placeholder="tony@starkindustries.com"/>
        <input type="hidden" value="shalin/shah" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input type="submit" value="Subscribe" />
      </p>
    </form>
    </li>
  </ul>
</div>