---
layout: layout
---
<div class="row center">
  <div class="offset2">  
      <h1 class="entry-title"><a href="{{ page.url }}" rel="bookmark" title="{{ post.title }}">{{ page.title }}</a></h1>
      <p class="article-date">{{ page.date | date: "%B %e, %Y" }}</p>

          <!-- <span class="published">
            <div class="entry-meta">
              By <a href="http://www.shalinshah.me">Shalin Shah</a> on <time datetime="{{post.date | date: "%Y-%m-%d"}}">
              {{ page.date | date: "%B %e, %Y" }}.
              </time>
              Tagged with
              <ul class="tags">
                {% for tag in page.tags %}
                <li><a href="/tag/{{ tag }}/">{{ tag | replace: '-', ' ' }}</a></li>
                {% endfor %}
              </ul>
              <div class="right">
              </div>                         
            </div> --><!-- .entry-meta -->
          <!-- </span>  -->
      <br>
    <article>
      {{ content }}
    </article>
    <br><br><br>
    <div class="post-share">          
      <a href="http://twitter.com/share?url=http://www.shalinshah.me{{ page.url }}/&text= {{ page.title }} via @shlns" target="_blank" class="btn post-share-btn twitter-btn">Share on Twitter</a> 
      
      <a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]={{ page.title }}&amp;p[summary]=&amp;p[url]=http://www.shalinshah.me{{ page.url }}/&amp;&amp;p[images][0]=','sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)" class="btn post-share-btn facebook-btn">Share on Facebook</a> 
      <a href="https://plus.google.com/share?url=http://www.shalinshah.me{{ page.url }}" target="_blank" class="btn post-share-btn googleplus-btn">Share on Google+</a>
    </div><!-- END .post-share -->
<br><br><br><br><br><br>
<div class="about-author">
    <div class="row">
      <img alt='Shalin Shah' src='http://www.gravatar.com/avatar/4efb6fd1f74165e426e98cec820ec417?s=180' class='avatar photo' />      
      <div class="author-right">
        <p> 
          <span class="author-name">
            <a href="http://www.shalinshah.me">Shalin Shah</a>           
              <a href="http://www.shalinshah.me" class="author-url"></a>
          </span>
          I'm a high school junior living in California. I enjoy building iOS and Web apps. Besides coding, I like running, travelling, and listening to good music.
        </p>
        <ul class="author-icon-list">        
            <li>
              <a href="http://www.twitter.com/shlns" class="author-social-icon twitter" target="_blank" title="I'm on Twitter">@shlns</a>
            </li>
            <li>
              <a href="http://dribbble.com/sln" class="author-social-icon dribbble" target="_blank" title="I'm on Dribbble"></a>
            </li>          
            <li>
              <a href="https://plus.google.com/105718561776352763084/posts" target="_blank" class="author-social-icon google_plus" title="I'm on Google Plus"></a>
            </li>          
            <li>
              <a href="mailto:shalinvs@gmail.com" class="author-social-icon email" target="_blank" title="Email Me"></a>
            </li>
        </ul>
      </div><!-- END #author-right -->  
    </div><!-- END .row -->    
  </div><!-- END #about-author -->
<br><br><br><br><br><br><br><br><br>
      {% if page.previous.url %}
        <!-- <a class="prev" href="{{ page.previous.url }}/" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a> -->
      {% endif %}
      {% if page.next.url %}
        <!-- <a class="next" href="{{ page.next.url }}/" title="Next Post: {{ page.next.title }}">{{ page.next.title }}</a> -->
      {% endif %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'shalinvs';
          var disqus_developer = (window.location.hostname == 'localhost') ? 1 : 0;
          var disqus_url = 'http://www.shalinvs.tk{{ page.url }}/';

          (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
  </div>
</div>

<br><br><br><br><br><br><br><br><br>