---
layout: layout
class: contact
---
<div class="row">
		<div class="left span4">
			<h1>Contact Me</h1>
			<br><br>
			<address>
				<div class="span2">
					<a class="btn btn-primary btn-large btn-block" href="http://twitter.com/shlns" target="_blank">+ &nbsp;Follow @shlns</a>
				</div><br><br><br><br>
              <div class="author"></div><br>				
				<h2><strong>I Live In...</strong><br/>
				Los Angeles, California<br />
				United States of America</h2><br/><br/>
			</address>
			<address>
				<h2>Email: <a href="mailto:shalinvs@gmail.com">shalinvs@gmail.com</a></h2>			
			</address>
		</div>
		<div class="right span8">
			<center><h1>Email Me</h1></center><br><br>			
			<!-- <form id="contactForm" class="right span7" id="emf-form" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/6FQYqL72ba6nWKD94j6Udr"> -->

			<form method="post">
				
							<p><input type="text" name="contactName" placeholder="Name" id="contactName" value="" class="required requiredField" /></p>

						
							<p><input type="text" name="email" placeholder="Email" id="email" value="" class="required requiredField email" /></p>
						
							<p><textarea name="comments" id="commentsText" placeholder="Your Message..." rows="10" class="required requiredField span7"></textarea></p>
							<div class="span2">
							<p><input class="btn btn-info btn-large btn-block" type="submit"></input></p>
							</div>
							<input type="hidden" name="submitted" id="submitted" value="true" />
							</form>
		</div>
	</div>
<br><br><br><br><br><br><br><br>






</div>				