---
layout: layout
class: contact
---
			<h1>Contact Me</h1>
			<center></center>
			<h1>just shoot me an email at<br><span class="huge"><a href="mailto:shalinvs@gmail.com" target="_blank">shalinvs at gmail.com</a></span><br>or<br><a class="tossing btn btn-success btn-large btn-block" href="http://twitter.com/shlns" target="_blank">+ &nbsp;Follow @shlns</a></h1>
	<center>
		<br><br><h1 id="cyan">my professional and social accounts:</h1><br><br>
        <a id="socialPort" href="http://www.facebook.com/shalinvs" target="_blank">
          <span><img src="/stuff/facebook.png" alt="Facebook" /></span>
        </a>
        <a id="socialPort" href="http://www.twitter.com/shlns" target="_blank">
          <span><img src="/stuff/twitter.png" alt="Twitter" />          </span>
        </a>
        <a id="socialPort" href="https://plus.google.com/u/0/105718561776352763084/posts" target="_blank">
          <span><img src="/stuff/google.png" alt="Google Plus" />          </span>
        </a>
        <a id="socialPort" href="http://www.linkedin.com/in/shalins" target="_blank">
          <span><img src="/stuff/linkedin.png" alt="Linkedin"  /></span>
        </a>
        <a id="socialPort" href="http://www.dribbble.com/sln" target="_blank">
          <span><img src="/stuff/dribbble.png" alt="Dribbble" /></span>
        </a>
        <a id="socialPort" href="http://instagram.com/shalinster" target="_blank">
          <span><img src="/stuff/instagram.png" alt="Instagram" /></span>
        </a>
        <br><br><br><br>
    </center>
<br><br><br><br><br><br><br><br>






</div>				