<!doctype html>
<html>
<!--
    Shalin Shah
    http://www.shalinvs.tk/
-->
<head>
<!-- This be the title -->
  <title>{% if page.class == "home" %}{{ page.title }}{% else %} {{ page.title }} &raquo; Shalin Shah{% endif %}</title>
  <meta property="og:title" content="{% if page.class == 'home' %}{{ page.title }}{% else %} {{ page.title }} &raquo; Shalin Shah{% endif %}" />

<!-- Google Chrome Frame for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Mobile Meta (yea buddy!) -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

<!-- Google, you no trust me? -->
  <meta name="google-site-verification" content="RZsPuqLhMe5NQsaYn6rXk6apYq21PZFq4Dmk7Xd6XZo" />

<!-- Discribing me -->
  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Shalin Shah is a 13 year old kid who enjoys programming, web-design, mobile app development, and graphic design. He builds things to make his and other people's lives easier. He occasionally blogs.{% endif %}{% endcapture %}

<!-- Beautifulizing this site -->
    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">    
    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
    {% if page.class == "post" %}
    <!-- Page-specific css -->
    <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
    {% elsif page.class == "about" %}
    <!-- Page-specific css -->
    <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
    {% elsif page.class == "quotes" %}
    <!-- Page-specific css -->
    <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
    {% endif %}
    

    <link id="scrollUpTheme" rel="stylesheet" href="/css/themes/image.css">
    <link id="scrollUpTheme" rel="stylesheet" href="/css/labs.css">
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollUp.min.js"></script>
    <script>
      $(function () {
          $.scrollUp({
        scrollImg: true
      });
        });
    </script>

<!-- The site icons -->
  <link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.png" />
  <meta property="og:image" content="/images/favicon.png" />

<!-- Yep, I built this site -->
  <link type="text/plain" rel="author" href="http://www.shalinvs.tk/me.txt" />
  <link href="https://plus.google.com/105718561776352763084/posts" relc="author" />
  <meta property="article:author" content="http://www.shalinvs.tk/about/" />

<!-- Meta canonicals for SEO -->
  {% if page.class == "post" %}
  <link rel="canonical" href="http://www.shalinvs.tk/{{ page.url }}/" />
  <meta property="og:url" content="http://www.shalinvs.tk{{ page.url }}/" />
  {% elsif page.class == "home" %}
  <link rel="canonical" href="http://www.shalinvs.tk/" />
  <meta property="og:url" content="http://www.shalinvs.tk/" />
  {% endif %}

<!-- Content Type -->
  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}

<!-- My blog feed -->
  <link rel="alternate" type="application/atom+xml" title="Shalin Shah's Blog" href="http://feeds.feedburner.com/shalin/Shah" />  

<!-- Typekit to please my inner designer -->
  <style>
  .page-loading{opacity: 0;}
  .page-active, .page-inactive {opacity: 1 !important;-moz-transition: 0.2s opacity ease-in;-webkit-transition: 0.2s opacity ease-in;transition: 0.2s opacity ease-in;}
  </style>
  <script type="text/javascript">
    (function() {
      var config = {
        scriptTimeout: 200
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" page-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)page-loading(\s|$)/g," ");h.className+=" page-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config);h.className+="page-active"}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
  
</head>
<body class="{{ page.class }} home blog ">
  <div class="stripes">
        <span class="stripe item1"></span>
        <span class="stripe item2"></span>
        <span class="stripe item3"></span>
        <span class="stripe item4"></span>
        <span class="stripe item5"></span>
        <span class="stripe item6"></span>
        <span class="stripe item7"></span>
        <span class="stripe item8"></span>
        <span class="stripe item9"></span>
        <span class="stripe item10"></span>
        <span class="stripe item11"></span>
        <span class="stripe item12"></span>
        <span class="stripe item13"></span>
        <span class="stripe item14"></span>
        <span class="stripe item15"></span>
        <span class="stripe item16"></span>
        <span class="stripe item17"></span>
        <span class="stripe item18"></span>
        <span class="stripe item19"></span>
        <span class="stripe item20"></span>
        <span class="stripe item21"></span>
        <span class="stripe item22"></span>
        <span class="stripe item23"></span>
        <span class="stripe item24"></span>
        <span class="stripe item25"></span>
        <span class="stripe item26"></span>
        <span class="stripe item27"></span>
        <span class="stripe item28"></span>
        <span class="stripe item29"></span>
        <span class="stripe item30"></span>
        <span class="stripe item31"></span>
        <span class="stripe item32"></span>
        <span class="stripe item33"></span>
        <span class="stripe item34"></span>
        <span class="stripe item35"></span>
        <span class="stripe item36"></span>
        <span class="stripe item37"></span>
        <span class="stripe item38"></span>
        <span class="stripe item39"></span>
        <span class="stripe item40"></span>
        <span class="stripe item41"></span>
        <span class="stripe item42"></span>
        <span class="stripe item43"></span>
        <span class="stripe item44"></span>
        <span class="stripe item45"></span>
        <span class="stripe item46"></span>
        <span class="stripe item47"></span>
        <span class="stripe item48"></span>
        <span class="stripe item49"></span>
        <span class="stripe item50"></span>
        <span class="stripe item2"></span>
      </div>
  <div id="inner-header" class="wrap clearfix">
        <div class="demo-headline">
        <h1 class="demo-logo">
          Shalin Shah
          <small>Occasional thoughts on random stuff...</small>
        </h1>
      </div> <!-- /demo-headline -->
  <nav id="menu" class="nav">         
          <ul>
            <li>
              <a href="/">
                <span class="con">
                  <i aria-hidden="true" class="con-home"></i>
                </span>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/portfolio/">
                <span class="con">
                  <i aria-hidden="true" class="con-portfolio"></i>
                </span>
                <span>Portfolio</span>
              </a>
            </li>
            <li>
              <a href="/blog/">
                <span class="con">
                  <i aria-hidden="true" class="con-blog"></i>
                </span>
                <span>Blog</span>
              </a>
            </li>
            <li>
              <a href="/about/">
                <span class="con">
                  <i aria-hidden="true" class="con-team"></i>
                </span>
                <span>About Me</span>
              </a>
            </li>
            <li>
              <a href="/contact/">
                <span class="con">
                  <i aria-hidden="true" class="con-contact"></i>
                </span>
                <span>Contact</span>
              </a>
            </li>
            <li>
              <a href="/quotes/">
                <span class="con"> 
                  <i aria-hidden="true" class="con-services"></i>
                </span>
                <span>Get Inspired</span>
              </a>
            </li>
          </ul>
        </nav>
        <script>
      //  The function to change the class
      var changeClass = function (r,className1,className2) {
        var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
        if( regex.test(r.className) ) {
          r.className = r.className.replace(regex,' '+className2+' ');
          }
          else{
          r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
          }
          return r.className;
      };  

      //  Creating our button in JS for smaller screens
      var menuElements = document.getElementById('menu');
      menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="con-menu"> </i> Menu</button>');

      //  Toggle the class on click to show / hide the menu
      document.getElementById('menutoggle').onclick = function() {
        changeClass(this, 'navtoogle active', 'navtoogle');
      }
    </script>
        
      {% if page.class == "tags" %}
      <div id="featured-wrap-other">
        <img width="1600" height="1060" src="{{ page.image }}" class="attachment-creer-full wp-post-image" />
      </div>
      {% elsif page.class == "four" %}
      <div id="featured-wrap-other">
        <img width="1600" height="1060" src="http://lorempixel.com/1600/1060/" />
      </div>   
      {% elsif page.class == "about" %}
      <div id="featured-wrap-other">
        <img width="1600" height="1060" src="{{ page.image }}" />
      </div>
      {% elsif page.class == "contact" %}
      <div id="featured">
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <div id="map_canvas-4477" class="google-map" style="width: px; height: 350px;"></div>
        <script type="text/javascript">
          jQuery(document).ready(function($) {
            var mapOptions = {
              zoom: 16,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById("map_canvas-4477"), mapOptions); 
            geocoder = new google.maps.Geocoder();
            var address = "Los Angeles";
            geocoder.geocode( { "address": address }, 
              function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                    map: map, 
                    position: results[0].geometry.location
                  });
                }
              });
          });
        </script>                   
      </div>
      {% endif %}
  <div class="container">
<br>
<br>
  <section class="content clearfix">
    {{ content }}
  </section>
</div><!-- /container -->



{% if page.script %}
<!-- Page-specific script -->
<script>
$(function() {
  {{ page.script }}
});
</script>
{% endif %}

{% if page.demo %}
<!-- Page-specific demo code -->
{{ page.demo }}
{% endif %}

{% if page.class == "post" %}
<!-- Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- G PLUS SCRIPT TAG -->
  <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>
{% endif %}
<br><br>
<div class="stripes">
        <span class="stripe item1"></span>
        <span class="stripe item2"></span>
        <span class="stripe item3"></span>
        <span class="stripe item4"></span>
        <span class="stripe item5"></span>
        <span class="stripe item6"></span>
        <span class="stripe item7"></span>
        <span class="stripe item8"></span>
        <span class="stripe item9"></span>
        <span class="stripe item10"></span>
        <span class="stripe item11"></span>
        <span class="stripe item12"></span>
        <span class="stripe item13"></span>
        <span class="stripe item14"></span>
        <span class="stripe item15"></span>
        <span class="stripe item16"></span>
        <span class="stripe item17"></span>
        <span class="stripe item18"></span>
        <span class="stripe item19"></span>
        <span class="stripe item20"></span>
        <span class="stripe item21"></span>
        <span class="stripe item22"></span>
        <span class="stripe item23"></span>
        <span class="stripe item24"></span>
        <span class="stripe item25"></span>
        <span class="stripe item26"></span>
        <span class="stripe item27"></span>
        <span class="stripe item28"></span>
        <span class="stripe item29"></span>
        <span class="stripe item30"></span>
        <span class="stripe item31"></span>
        <span class="stripe item32"></span>
        <span class="stripe item33"></span>
        <span class="stripe item34"></span>
        <span class="stripe item35"></span>
        <span class="stripe item36"></span>
        <span class="stripe item37"></span>
        <span class="stripe item38"></span>
        <span class="stripe item39"></span>
        <span class="stripe item40"></span>
        <span class="stripe item41"></span>
        <span class="stripe item42"></span>
        <span class="stripe item43"></span>
        <span class="stripe item44"></span>
        <span class="stripe item45"></span>
        <span class="stripe item46"></span>
        <span class="stripe item47"></span>
        <span class="stripe item48"></span>
        <span class="stripe item49"></span>
        <span class="stripe item50"></span>
        <span class="stripe item49"></span>        
      </div>
    <footer>
      <div class="container">
        <div class="row">
            <center>
            <h3 class="footer-title"></h3>
            <p>Copyright &copy; 2013 <a href="/">Shalin Shah</a>. Made in Los Angeles, California.</p>
            <p class="pvl">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.shalinvs.tk/blog/" data-text="Check out this cool new blog I discovered" data-via="shlns" data-size="large">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
          </center>
        </div>
      </div>
    </footer>

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34246687-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>    

<!-- StatCounter -->
<script type="text/javascript">
var sc_project=8210349; 
var sc_invisible=1; 
var sc_security="ea83eacd"; 
</script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>

<!-- Load JS here for greater good =============================-->
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/js/custom_checkbox_and_radio.js"></script>
    <script src="/js/custom_radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/js/application.js"></script>
    <!--[if lt IE 8]>
      <script src="/js/icon-font-ie7.js"></script>
      <script src="/js/icon-font-ie7-24.js"></script>
    <![endif]-->
</body>
</html>