<!doctype html>
<html>
<head>
  <!--
    Shalin Shah
    http://www.shalinvs.tk/
  -->
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Shalin Shah is a 13 year old kid who enjoys programming, web-design, mobile app development, and graphic design. He builds things to make his and other people's lives easier. He occasionally blogs.{% endif %}{% endcapture %}
  <!-- TITLE -->
    <title>{% if page.class == "home" %}{{ page.title }}{% else %} {{ page.title }} &raquo; Shalin Shah{% endif %}</title>
    <meta property="og:title" content="{% if page.class == 'home' %}{{ page.title }}{% else %} {{ page.title }} &raquo; Shalin Shah{% endif %}" />
  <!-- RESPONSIVE LOADER -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GOOGLE SITE VERIFICATION -->
    <meta name="google-site-verification" content="RZsPuqLhMe5NQsaYn6rXk6apYq21PZFq4Dmk7Xd6XZo" />
  <!-- DESCRIPTION -->
    <meta name="description" content="{{ meta_desc }}">
    <meta property="og:description" content="{{ meta_desc }}" />
  <!-- ICON -->
    <link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.png" />
    <meta property="og:image" content="/favicon-shalin-newest.png" />
  <!-- ABOUT -->
    <link type="text/plain" rel="author" href="http://www.shalinvs.tk/me.txt" />
    <link href="https://plus.google.com/105718561776352763084/posts" relc="author" />
    <meta property="article:author" content="http://www.shalinvs.tk/about/" />
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
  <!-- CANONICAL -->
    {% if page.class == "post" %}
    <link rel="canonical" href="http://www.shalinvs.tk/{{ page.url }}/" />
    <meta property="og:url" content="http://www.shalinvs.tk{{ page.url }}/" />
    {% elsif page.class == "home" %}
    <link rel="canonical" href="http://www.shalinvs.tk/" />
    <meta property="og:url" content="http://www.shalinvs.tk/" />
    {% endif %}
  <!-- ARTICLE (TYPE) -->
    <meta property="og:type" content="article" />
    {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <!-- FEED -->
    <link rel="alternate" type="application/atom+xml" title="Shalin Shah's Blog" href="http://feeds.feedburner.com/shalin/Shah" />  
  <!-- STYLE -->
    <link rel="stylesheet" href="/css/compiled/style.css" />
    {% if page.class == "about" %}<link rel="stylesheet" href="/css/compiled/about.css" />{% endif %}
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
  <!-- ASYNC TYPEKIT LOADER WITH FADE -->
    <style>
      .page-loading{opacity: 0;}
      .page-active, .page-inactive {opacity: 1 !important;-moz-transition: 0.2s opacity ease-in;-webkit-transition: 0.2s opacity ease-in;transition: 0.2s opacity ease-in;}
    </style>
    <script type="text/javascript">
      (function() {
        var config = {
          scriptTimeout: 200
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" page-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)page-loading(\s|$)/g," ");h.className+=" page-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config);h.className+="page-active"}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>
</head>
<body class="{{ page.class }}">
  <div id="container">

    <header id="header">
      <!-- Main Banner/Header -->
      <h1><a href="http://www.shalinvs.tk">{% if page.class == "resume" %}SHALIN SHAH{% else %}SHALIN{% endif %}</a></h1>

      
    </header>


    <section class="content clearfix">
      {{ content }}
    </section>

    <!-- {% if page.class == "home" %}
      <a href="https://github.com/shalinvs" id="github">Fork me on GitHub</a>
    {% endif %} -->

  </div>


  {% if page.script %}
    <!-- Page-specific script -->
    <script>
      $(function() {
        {{ page.script }}
      });
    </script>
  {% endif %}

  {% if page.demo %}
    <!-- Page-specific demo code -->
    {{ page.demo }}
  {% endif %}

  {% if page.class == "post" %}
  
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- G PLUS SCRIPT TAG -->
     <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  {% endif %}

  <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34246687-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    

  <!-- StatCounter -->
    <script type="text/javascript">
      var sc_project=8210349; 
      var sc_invisible=1; 
      var sc_security="ea83eacd"; 
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>

    <script src="/js/libraries.js"></script>
</body>
</html>