<!doctype html>
<html>
<!-- Shalin Shah -->
<head>
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Hi. I am Shalin and this is my blog, where I enunciate my thoughts on random stuff. Thanks for reading.{% endif %}{% endcapture %}
  <!-- This be the title -->
    <title>{% if page.class == "blog" %}{{ page.title }}{% elsif page.class == "home" %}{{ page.title }}{% else %}{{ page.title }} &raquo; Shalin Shah{% endif %}</title>
    <meta property="og:title" content="{% if page.class == 'blog' %}{{ page.title }}{% else %} {{ page.title }} &raquo; Shalin Shah{% endif %}" />
  <!-- Google Chrome Frame for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Mobile Meta (yep, it's responsive) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <!-- Google, you no trust me? -->
    <meta name="google-site-verification" content="RZsPuqLhMe5NQsaYn6rXk6apYq21PZFq4Dmk7Xd6XZo" />
  <!-- Describing me -->
    <meta name="description" content="{{ meta_desc }}">
    <meta property="og:description" content="{{ meta_desc }}" />
  <!-- Beautifulizing this site -->
    {% if page.class == "portfolio" %} <link href="/css/portfolio.css" rel="stylesheet"> {% endif %}      
    <link href="/css/style.css" rel="stylesheet">    
    <link href="/css/animations.css" rel="stylesheet">                                    
    <link href="/css/screen.css" rel="stylesheet">  
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/component.css" rel="stylesheet">
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/modernizr.custom1.js"></script>    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
  {% if page.class == "post" %}
    <!-- Page-specific css -->
    <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
    {% endif %}
<!-- The site icons -->
  <link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.png" />
  <meta property="og:image" content="/images/favicon.png" />
<!-- Yep, I built this site -->
  <link type="text/plain" rel="author" href="http://www.shalinvs.tk/me.txt" />
  <link href="https://plus.google.com/105718561776352763084/posts" relc="author" />
  <meta property="article:author" content="http://www.shalinvs.tk/about/" />
  {% if page.class == "post" %}
<!-- Meta canonicals for SEO -->  
  <link rel="canonical" href="http://www.shalinvs.tk/{{ page.url }}/" />
  <meta property="og:url" content="http://www.shalinvs.tk{{ page.url }}/" />
  {% elsif page.class == "blog" %}
  <link rel="canonical" href="http://www.shalinvs.tk/" />
  <meta property="og:url" content="http://www.shalinvs.tk/" />
  {% endif %}
<!-- Content Type -->
  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
<!-- My blog feed -->
  <link rel="alternate" type="application/atom+xml" title="Shalin Shah's Blog" href="http://feeds.feedburner.com/shalin/Shah" />  
<!-- Awesome fade-in effect -->
  <style>
  .page-loading{opacity: 0;}
  .page-active, .page-inactive {opacity: 1 !important;-moz-transition: 0.2s opacity ease-in;-webkit-transition: 0.2s opacity ease-in;transition: 0.2s opacity ease-in;}
  </style>
  <script type="text/javascript">
    (function() { var config = { scriptTimeout: 200 };
      var h=document.getElementsByTagName("html")[0];h.className+=" page-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)page-loading(\s|$)/g," ");h.className+=" page-inactive"},config.scriptTimeout);})();
  </script>
</head>
{% if page.class == "post" %}
<body id="page-journal"  class="journal-{{ page.identity }}">
{% elsif page.class == "blog" %}  
<body id="page-home">
{% elsif page.class == "home" %}  
<body id="page-journal" class="journal-home">
{% elsif page.class == "contact" %}  
<body id="page-journal" class="journal-contact">
{% elsif page.class == "about" %}  
<body id="page-journal" class="journal-about">
{% elsif page.class == "portfolio" %}  
<body id="page-journal" class="journal-portfolio">
{% else %} 
<body>
{% endif %}

<!-- For-Nav Container -->
  <div class="container-fornavmenu">      
  <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
      <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
          <div class="mp-level">
            <h2>Navigation</h2>
            <ul>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/portfolio/">Portfolio</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/resume/">Resume</a></li>
            </ul>
          </div>
        </nav>
      <!-- /mp-menu -->

      {% if page.class == "about" %} 
      <header id="dark">
      {% else %}  
      <header class="clearfix">
      {% endif %}
        <h3 class="logo">
          <a href="/">
            Shalin Shah
          </a> 
        </h3>
        <ul class="nav clearfix">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/portfolio/">Portfolio</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/resume/">Resume</a></li>
        </ul>
        <div class="scroller mobileBanner"><!-- this is for emulating position fixed of the nav -->
          <div class="scroller-inner">
            <!-- Top Navigation -->
            <div class="content clearfix">
              <div class="block block-40 clearfix">
                <p><a href="#" id="trigger" class="menu-trigger">Menu</a></p>
              </div>
            </div>
          </div><!-- /scroller-inner -->
        </div><!-- /scroller -->  
      </header>

      {% if page.class == "post" %}
      <div class="journal-header-{{ page.identity }}">
        <img src="{{ page.image }}" width="190" height="190">
      </div>
      {% endif %}

      {% if page.class == "post" %}
      <section id="content-wrapper-blog">
      {% elsif page.class == "blog" %}
      <section id="content-wrapper">
      {% elsif page.class == "portfolio" %}
      {% else %}
      <section id="content-wrapper-two">
      {% endif %}

      {% if page.class == "portfolio" %}
        {{ content }}
      {% else %}
        <div class="container">
          <section class="content clearfix">
            {{ content }}
          </section>
        </div><!-- /container -->
      {% endif %}

      {% if page.class == "portfolio" %}
      {% else %}
      </section>
      {% endif %}

      {% if page.script %}
      <!-- Page-specific script -->
      <script>
      $(function() {
        {{ page.script }}
      });
      </script>
      {% endif %}

      {% if page.demo %}
      <!-- Page-specific demo code -->
      {{ page.demo }}
      {% endif %}

      {% if page.class == "post" %}
      <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Twitter -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <!-- G PLUS SCRIPT TAG -->
        <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
      {% endif %}
      

<footer class="hovering">
  <div class="container">
    <div class="row">
        <center>
        <h3 class="footer-title"></h3>
        <p>Copyright &copy; 2013 <a href="/">Shalin Shah</a>. Made with <b class="heart">&hearts;</b> in Los Angeles, California.</p>
        <a class="btn btn-success btn-large btn-block" href="http://twitter.com/shlns" target="_blank">Follow @shlns</a>
      </center>
    </div>
  </div>
</footer>
</div>
    <!-- /Push Wrapper -->
  </div>
<!-- /For Nav -->

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34246687-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>    
<!-- /Google Analytics -->

<!-- StatCounter -->
<script type="text/javascript">
var sc_project=8210349; 
var sc_invisible=1; 
var sc_security="ea83eacd"; 
</script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
<!-- /StatCounter -->

<!-- Load JS here for greater good =============================-->
  <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/classie.js"></script>
  <script src="/js/mlpushmenu.js"></script>
  <script>
    new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
  </script>

  <!--[if lt IE 8]>
    <script src="/js/icon-font-ie7.js"></script>
    <script src="/js/icon-font-ie7-24.js"></script>
  <![endif]-->
  {% if page.class == "contact" %}    
  <script>
    $(window).scroll(function() {
      $('#example-5').each(function(){
      var imagePos = $(this).offset().top;

      var topOfWindow = $(window).scrollTop();
        if (imagePos < topOfWindow+200) {
          $('.graph-bar').addClass("pullUp");
        }
      });
    });
  </script>
  {% endif %}
</body>
</html>