---
layout: layout
class: tags
---
<br><br><br><br><br><br><br><br>
<h1 id="cyan">{{page.title}}</h1>
<div class="journal-teaser">
{% for post in site.posts %}
{% for tag in post.tags %}
{% if tag == page.tag %}
 <ul class="journal-list left-slide">
   <li>
    <span class="journal-teaser-thumbnail"><a href="{{ post.url }}" title="{{ post.title }}"><img  class="featured-image-small" src="{{ post.image }}" width="190" height="190" /></a></span>
    <h4><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
    <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
    <p class="entry">{{ post.content | strip_html | truncatewords: 25 }}</p>
   </li>
 </ul>
{% endif %}
{% endfor %}
{% endfor %}       
</div>    
<h2>
  Or, see <a href="/blog">all blog posts</a>.
</h2>
</div>  
